<h1> game rules</h1>
<p> You beat another player if your choice "beats" theirs in the following way:-
</p>
<ul>
  <li>Rock beats Scissors</li>
  <li>Scissors beat Paper</li>
  <li>Paper beats Rock</li>
</ul>
